@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
font-family: 'Poppins', sans-serif !important; 
}
body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 0, 0,0.6);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  cursor: pointer;
}
.hidden {
  display: none;
}
